.header{
    height:var(--header-height);
    background-image: linear-gradient(180deg,#F53D2D,#FF6633);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar--list{
    list-style-type: none;
    padding-left: 0;
    margin-top: 4px;
    margin-bottom: 0;
    display: flex;
}

.header__navbar--item-has-qr:hover .header__qr{
    display: block;
}

.header__navbar--item{
    margin:0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user{
    display: flex;
    align-items: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.header__navbar-user-name{
    margin-left: 4px;
    margin-top: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu{
    padding-left: 0;
    list-style: none;
    top: calc(100% + 4px);
    right: 0;
    border-radius: 2px;
    width: 160px;
    position: absolute;
    background-color:var(--white-color);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;



}
.header__navbar-user-menu::before{
    content: "";
    display: block;
    border-style: solid;
    border-width: 10px 15px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -20px;
}

.header__navbar-user-menu::after {
    content: "";
    display: block; 
    height: 10px;
    width: 88px;
    top: -8px;
    right: 0;
    position: absolute;
   

}

.header__navbar-user-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 12px 16px;
    display: block;
}

.header__navbar-user-item a:first-child{
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.header__navbar-user-item a:last-child{
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.header__navbar-user-item a:hover{
    background-color: #f7f7f7;
    

}

.header__navbar--item-has-notify:hover .header__notify{
    display: block;
}

.header__navbar--title-no-pointer{
    cursor: text;
    color: var(--white-color);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2){
   margin-left: 3px;
}

.header__navbar--icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar--item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color:#FB9086;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);

}

.header__navbar-item-link,
.header__navbar--item{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item-link,
.header__navbar--item,
.header__navbar-icon-link{
    display: flex;
    align-items: center;
}

.header__navbar-item-link:hover,
.header__navbar--item:hover,
.header__navbar-icon-link:hover{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

/*Header qr code*/
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 8px;
    border-radius: 2px;
    margin-top: 4px;
    display: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
}

/*Cầu nối giữ thẻ ul với qr code*/
.header__qr::before{
    content:"";
    display:block;
    position: absolute;
    width: 100%;
    height: 20px;
    top: -15px;
    left: 0;
    background-color: transparent;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
    padding: 0 11px;
}

.header__qr-download-img{
    height: 16px;
}

/* Notification */
.header__notify{
    width: 404px;
    background-color: var(--white-color);
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 4px;
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.2s ;
    will-change: opacity ,transform;
    display:  none;
    border-radius: 2px;
    z-index: 3;
}


.header__notify::before{
    content: "";
    display: block;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -28px;
}

.header__notify::after{
    content: "";
    display: block;
    width: 90px;
    height: 20px;
    position: absolute;
    top: -15px;
    right: 0;
    
}

@keyframes headerNotifyGrowth{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}


.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
    user-select: none;
}

.header__notify-header h3{
    color: #999;
    margin: 0  0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    
}

.header__notify-list{
    padding: 0;
    list-style: none;
}

.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

/* Thông báo chưa xem */
.header__notify-item--viewed{
    background-color: rgba(238, 75, 43,0.08);
}

.header__notify-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 12px;
    width: 100%;
    
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
    border: 1px solid rgb(247, 242, 242);
}

.header__notify-info{
   margin-left: 12px;
}

.header__notify-name{
    display: block;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-description{
    display: block;
    color: #576F6E;
    line-height: 1.6rem;
    font-size: 1.2rem;
    margin-top: 4px;
}

.header__notify-footer{
    display: flex;
    text-align: center;
}

.header__notify-footer-btn{
    text-decoration: none;
    padding: 12px 0;
    width: 100%;   
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0,0,0,0.25);    
}

/* Authen modar */
.auth__form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth__form-container{
    padding: 0 32px;
}

.auth__form--header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 12px;
}

.auth__form--heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth__form--switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}



.auth__form-input{
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth__form-input:focus{
    border-color:#777 ;
}

.auth__form-aside{
    margin-top: 18px;
    padding: 0 12px;
}

.auth__form-policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.form-text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth__form-controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth__form-controls-back{
    margin-right: 8px;
    color: var(--text-color);
}

.auth__form-social{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.auth__form-social-facebook{
    background-color: #3a5a98;
    color:var(--white-color);
}

.auth__form-social-facebook
.auth__form-social-icon{
    color: var(--white-color);
}

.auth__form-social-icon{
    font-size: 1.4rem;
}

.auth__form-social-title{
    margin:0 36px;
}

.auth__form-social-google{
    color: #666;
    background-color: var(--white-color);
}

.auth__form-help{
    display: flex;
    justify-content: flex-end;
}

.auth__form-help-link{
    font-size: 1.2rem;
    text-decoration: none; 
    color: #939393;  
}

.auth__form-help-link-forgot{
    color: var(--primary-color);
}

.auth__form-help-separate{
    display: block;
    border-left: 1px solid #eaeaea;
    height: 20px;
    margin: -2px 16px;    
}

/* header with search  */

.header__with-search{
    height: var(--header-with-search);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo{
    width: 200px;
}
.header__logo-link{
    text-decoration: none;
    color: transparent;
}

.header__logo-img{
    width: 150px;
}

.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history{
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% + 2px);
    left: 0;
    border-radius: 2px;
    width: calc(100% - 16px);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    display: none;
    overflow: hidden;
    z-index: 2;
}

.header__search-history-heading{
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list{
    padding: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
    
}

.header__search-history-item:hover {
    background-color: #fafafa;
}



.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

.header__search-select{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 12px 0;
}

.header__search-select-icon{
    font-size: 1.4rem;
    color: #c2bdbd;
    margin: 0 16px 0 8px; 
}

.header__search-option{
    position: absolute;
    right: 0;
    top: calc(100% + 3px);
    padding: 0;
    list-style: none;
    background-color:var(--white-color);
    width: 150px;
    box-shadow: 0 1px 2px #e4e4e4;
    border-radius: 2px;
    display: none;
    animation:fadeIn ease-in 0.1s ;
    z-index: 1;
    border: 1px solid var(--border-color);

   
}

.header__search-option::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 100%;
    top: -5px;
}

.header__search-option-item {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 0;
}

.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 4px 0 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-btn{
    width: 60px;
    height: 34px;
    margin-right: 2px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    border-radius: 2px;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}   

.header__cart {
    width: 150px;
    text-align: center;
    
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-list::after{
    content: "";
    display: block;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 1px;
    top: -32px;
    cursor: pointer;
}

.header__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 2px;
}

.header__cart-notice{
    position: absolute;
    top: -10px;
    right: -3px;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
}

.header__cart-no-cart-img {
    width: 50%;
    display: none; 
    /* đúng phải là không có display none */
}

.header__cart-list-no-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
    /* đúng phải là thay  có display none thành display block */

}

.header__cart-list{
    position: absolute;
    top: calc(100% + 8px);
    right: -11px;
    width: 400px;
    background-color:var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    display: none;
    animation: fadeIn ease-in 0.3s;
    cursor: default;
    z-index: 10;
}


/* Không có sản phẩm */
.header__cart-list--no-car{
    padding: 28px 0;
}
.header__cart-list--no-car .header__cart-no-cart-img,
.header__cart-list--no-car .header__cart-list-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header__cart-heading{
    text-align: left;
    margin: 14px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    overflow-y:auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img{
    width: 42px;
    height: 42px;
    margin:0 12px;
    border: 1px solid rgb(247, 242, 242);
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;

}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    text-align: left;
    display: -webkit-box;
    padding-right: 16px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply{
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px;

}

.header__cart-item-qnt{
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-name-1{
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.header__cart-item-price-wrap{
    text-align: left;
}

.header__cart-item-description{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.header__cart-item-remove:hover{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
}

.hearder__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.hearder__cart-view-cart:hover{
    background-color: #f05d41;
}

/* Container  */
.app-content{
    padding-top: 36px;
}
.app__container{
    background-color: #f5f5f5;
}

.category{
    background-color: var(--white-color);
    border-radius: 2px;
}

.category-heading {
    font-size: 1.7rem;
    color: var(--text-color);
    margin: 0;
    padding: 18px 20px 12px;
    text-transform: uppercase;
    font-weight: 400;
}

.category-list{
    padding:0 20px 16px ;
    list-style: none;
}

.category-item{
    position: relative;
}

.category-item:first-child::before{
  display: none;
}
.category-item::before{
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    border-top:1px solid #e1e1e1 ;
}

.category-item-active .category-item-link{
    color: var(--primary-color);
}

.category-item-link{
    text-decoration: none;
    position: relative;
    font-size: 1.6rem;
    padding: 10px 0;
    display: block;
    color: var(--text-color);
}

.category-item-link:hover{
    color: var(--primary-color);
}

/* Home filter  */
.home-filter{
    display: flex;
    padding: 12px 22px;
    align-items: center;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.04);

}

.home-filter-label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
    margin-right: 12px;
}

.btn-filter-btn{
    margin-right: 12px;
    min-width: 90px;
}

.btn-filter-btn-white{
    background-color: var(--white-color);
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.select-input-label{
    font-size: 1.4rem;
}

.select-input-icon{
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}

.select-input:hover .select-input--list{
    display: block;
}

.select-input--item-link:hover{
    color: var(--primary-color);
}

.select-input--item-link{
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-bottom: 14px;
}

.home-filter__page-num{
    font-size: 1.5rem;
    color: (--text-color);
    margin-right: 22px;
}

.home-filter__page-curent{
    color: var(--primary-color);
}

.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    
}

.home-filter-control-btn{
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
}

.home-filter-control-btn:first-child{
    border-right: 1px solid #eee;
}

.header-filter__page-icon{
    margin: auto;
    color: #555;
}
/* icon disable  */

.home-filter-control-btn-disable{
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter-control-btn-disable .header-filter__page-icon{
    color: #ccc;
}

/* PRODUCT ITEM  */

.home-product{
    margin-bottom: 10px;
}

.home-product-item{
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    text-decoration: none;
    display: block;
}

.home-product-item:hover{
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}

.home-product-item__img{
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old{
    font-size: 1.3rem;
    color: #666;
    margin-left: 10px;
    text-decoration: line-through;
}

.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like{
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill{
    display: none;
    color: #f63d30;

}

.home-product-item__like--liked .home-product-item__like-icon-fill{
 display: block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}

   
.home-product-item__rating{
    font-size: 1rem;
    transform: scale(0.7);
    transform-origin: right;
    color: #d5d5d5;
    margin-left: auto;
}

.home-product-item_sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item-star-gold{
    color:#ffc33e;
}

.home-product-item__origin{
    display: flex;
    color: #595959;
    margin: 0 10px;
    font-size: 1.2rem;
    margin-top: 4px;
}

.home-product-item__brand{
    margin-right: auto;
}

.home-product-item__origin-name{
   font-weight: 300;
}

.home-product-item__favourite{
    position: absolute;
    height: 16px;
    display: flex;
    align-items: center;
    top:10px;
    left: -4px;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 500;
    padding-right: 4px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.home-product-item::before{
    content: "";
    display: block;
    position: absolute;
    border-top: 3px solid;
    border-left: 3px solid;
    border-top-color: #990a0a;
    border-left-color: transparent;
    left: -4px;
    top: 26px;
}

.home-product-item::after{
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 20px 5px;
    right: 0;
    top: 34px;
    border-color: transparent rgb(255, 216, 64, 0.94) transparent rgb(255, 216, 64, 0.94);
}

.home-product-item__favourite i{
    font-size: 0.9rem;
    margin: 0 3px 0 5px;
}

.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 34px;
    background-color: rgb(255, 216, 64, 0.94);
    text-align: center;
    border-top-right-radius: 3px;
}

.home-product-item__sale-off_percent{
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin: 2px 0;
    display: block;
}

.home-product-item__sale-label{
    font-size: 1.4rem;
    line-height: 1.3rem;
    color: var(--white-color);
    font-weight: 600;
    margin-top: 4px;
    display: block;

}
.home-product-pagination{
    margin-top: 50px;
    margin-bottom: 32px;
}

/* footer  */
.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
    background-color: var(--white-color);
}

.footer__list{
    padding-left: 0;
    list-style: none;
}

.foot__heading{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list-item{
    display: flex;
    align-items: center;
}

.footer__list-item-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 4px 0;
    display: block;
    display: flex;
    align-items: center;
}

.footer__list-item-link:hover{
    color: var(--primary-color);
}

.footer__item-icon{
    font-size: 1.7rem;
    margin-top: -1px;
    margin-right: 8px;
    color: #737373;

}

.footer__download{
    display: flex;

}
.footer__download-qr{
    width: 80px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    height: 80px;
    margin-right: 16px;
}

.footer__download-app{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 12px 0;

}

.footer__download-app-img{
    height: 16px;
}

.footer__download-app-link{
    text-decoration: none;
    color: transparent;
    display: block;
}

.footer__bottom{
    background-color: #f5f5f5;
    padding: 12px 0;
    margin-top: 36px;
}
.footer__text{
    margin: 0;
    font-size: 1.4rem;
    color: #737373;
    text-align: center;
}